<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- import font from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap" rel="stylesheet">

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Scheduling</title>
  </head>
  <body>
    <!-- Header -->
    <header class="flex">
      <nav>
        <ul class="flex">
          <li><a href="/signup" class ="navLink">Sign Up</a></li>
          <li><a href="/login" class ="navLink">Log In</a></li>
          <li><a href="/logout" class ="navLink">Log Out</a></li>
        </ul>
      </nav>
    </header>
    
    <!-- Jumbotron area -->
    <main>
      <h1>Create Your Schedule</h1>
      <p>Follow the prompts to design your personal weekly running schedule</p>
    </main>
                       
    <!-- Scheduling portion -->   
    <section class="flex flexCenter schedule">
      <section class="center">
        <h4>Monday</h4>
        <span class="day" id="day0">Open</span>
      </section>
      <section class="center">
        <h4>Tuesday</h4>
        <span class="day" id="day1">Open</span>
      </section>
      <section class="center">
        <h4>Wednesday</h4>
        <span class="day" id="day2">Open</span>
      </section>
      <section class="center">
        <h4>Thursday</h4>
        <span class="day" id="day3">Open</span>
      </section>
      <section class="center">
        <h4>Friday</h4>
        <span class="day" id="day4">Open</span>
      </section>
      <section class="center">
        <h4>Saturday</h4>
        <span class="day" id="day5">Open</span>
      </section>
      <section class="center">
        <h4>Sunday</h4>
        <span class="day" id="day6">Open</span>
      </section>
    </section>


    <!-- This is where the instructions are printed with JS -->
    <section class="instructions">
      <label for= "daysOfRunning" id="question" class="directions">How many days do you want to run?</label>
      <select name="daysOfRunning" id="daysOfRunning" class="directions">
        <!-- <option value="4">4</option> -->
        <option value="5" selected>5</option>
        <!-- <option value="6">6</option> -->
        <!-- <option value="7">7</option> -->
      </select>
      <span class="button directions" id="submitDays">Submit</span>
    </section>  
        
    <!-- Runner's Inputs -->
    <form action="/calendar/postGenerateCalendar" method="POST">
        <!-- Distance are you training for? -->
        <label for="goalDistance" class="directions">What distance are you training for</label>
        <select name="goalDistance" id="goalDistance" class="directions">
            <option value="26" selected>Marathon</option>
            <!-- <option value="13">Half Marathon</option>
            <option value="6">10km</option>
            <option value="3">5km</option> -->
        </select>
        <!-- How long is the training program? -->
        <label for="planDuration" class="directions">What is the duration of the training plan?</label>
        <select name="planDuration" id="planDuration" class="directions">
            <!-- <option value="12">12 weeks</option> -->
            <option value="16" selected>16 weeks</option>
            <!-- <option value="20">20 weeks</option> -->
        </select>
        <!-- What do you want your longest week of mileage to be. -->
        <label for="maxMileage" class="directions">What is the highest weekly mileage total you are looking to hit?</label>
        <input type="number" id="maxMileage" name="maxMileage" min="5" max="150" class="directions" value = 50>
        <!-- Longest Long Run -->
        <label for="maxLR" class="directions">How long do you want your longest long run to be?</label>
        <input type="number" id="maxLR" name="maxLR" min="20" max="30" class="directions" value="20">

        <label class="directions">What is your normal running pace (min/sec per mile)</label>
        <label for="minutes" class="directions">Minutes</label>
        <input type="number" id="minutes" name="minutes" min="5" max="30" class="directions" value ="7">
        <label for="seconds" class="directions">Seconds</label>
        
        <input type="number" id="seconds" name="seconds" min="0" max="59" class="directions" value = "30">

        <input type="hidden" id="weekSchedule" name = "weekSchedule">

        <input type="submit" class="directions">
    </form>

    <footer>
        
    </footer>
    <script type="text/javascript" src="js/scheduler.js"></script>
  </body>
</html>
