<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Training Plan Creator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="css/style.css">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="calendarWrapper">
				<div class="container theme-showcase">
          <div id="holder">
          </div>
        </div>
      
        <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; <a href="https://AscentRunningCoaching.com">Ascent Running Coaching LLC</a> | <a href="/logout" class ="">Log Out</a>.</p>
        </footer>
        
      
      
      
      <script type="text/tmpl" id="tmpl">
        {{ 
        var date = date || new Date(),
            month = date.getMonth(), 
            year = date.getFullYear(), 
            first = new Date(year, month, 1), 
            last = new Date(year, month + 1, 0),
            startingDay = first.getDay(), 
            thedate = new Date(year, month, 2 - startingDay),
            dayclass = lastmonthcss,
            today = new Date(),
            i, j; 
        if (mode === 'week') {
          thedate = new Date(date);
          thedate.setDate(date.getDate() - date.getDay());
          first = new Date(thedate);
          last = new Date(thedate);
          last.setDate(last.getDate()+6);
        } else if (mode === 'day') {
          thedate = new Date(date);
          first = new Date(thedate);
          last = new Date(thedate);
          last.setDate(thedate.getDate() + 1);
        }
        
        }}
        <table class="calendar-table table table-condensed table-tight">
          <thead>
            <tr>
              <td colspan="7" style="text-align: center">
                <table style="white-space: nowrap; width: 100%">
                  <tr>
                    <td style="text-align: left;" class="flex">
                      <span class="btn-group ">
                        <button class="js-cal-prev btn btn-default">&lt;</button>
                        <button class="js-cal-next btn btn-default">&gt;</button>
                      </span>
                      <button class="js-cal-option btn btn-default flex-margin {{: first.toDateInt() <= today.toDateInt() && today.toDateInt() <= last.toDateInt() ? 'active':'' }}" data-date="{{: today.toISOString()}}" data-mode="month">{{: todayname }}</button>
                    </td>
                    <td>
                      <span class="btn-group btn-group-lg flex">
                        {{ if (mode !== 'day') { }}
                          {{ if (mode === 'month') { }}<button class="js-cal-option btn btn-link" data-mode="year">{{: months[month] }}</button>{{ } }}
                          {{ if (mode ==='week') { }}
                            <button class="btn btn-link disabled">{{: shortMonths[first.getMonth()] }} {{: first.getDate() }} - {{: shortMonths[last.getMonth()] }} {{: last.getDate() }}</button>
                          {{ } }}
                          <button class="js-cal-years btn btn-link">{{: year}}</button> 
                        {{ } else { }}
                          <button class="btn btn-link disabled">{{: date.toDateString() }}</button> 
                        {{ } }}
                      </span>
                    </td>
                    <td style="text-align: right" class="time-displayed">
                      <span class="btn-group flex">
                        <!-- <button class="js-cal-option btn btn-default {{: mode==='year'? 'active':'' }}" data-mode="year">Year</button> -->
                        <button class="js-cal-option btn btn-default {{: mode==='month'? 'active':'' }}" data-mode="month">Month</button>
                        <button class="js-cal-option btn btn-default flex-margin {{: mode==='week'? 'active':'' }}" data-mode="week">Week</button>
                        <!-- <button class="js-cal-option btn btn-default {{: mode==='day'? 'active':'' }}" data-mode="day">Day</button> -->
                      </span>
                    </td>
                  </tr>
                </table>
                
              </td>
            </tr>
          </thead>
          {{ if (mode ==='year') {
            month = 0;
          }}
          <tbody>
            {{ for (j = 0; j < 3; j++) { }}
            <tr>
              {{ for (i = 0; i < 4; i++) { }}
              <td class="calendar-month month-{{:month}} js-cal-option" data-date="{{: new Date(year, month, 1).toISOString() }}" data-mode="month">
                {{: months[month] }}
                {{ month++;}}
              </td>
              {{ } }}
            </tr>
            {{ } }}
          </tbody>
          {{ } }}
          {{ if (mode ==='month' || mode ==='week') { }}
          <thead>
            <tr class="c-weeks">
              {{ for (i = 0; i < 7; i++) { }}
                <th class="c-name">
                  {{: days[i] }}
                </th>
              {{ } }}
            </tr>
          </thead>
          <tbody>
            {{ for (j = 0; j < 6 && (j < 1 || mode === 'month'); j++) { }}
            <tr>
              {{ for (i = 0; i < 7; i++) { }}
              {{ if (thedate > last) { dayclass = nextmonthcss; } else if (thedate >= first) { dayclass = thismonthcss; } }}
              <td class="calendar-day {{: dayclass }} {{: thedate.toDateCssClass() }} {{: date.toDateCssClass() === thedate.toDateCssClass() ? 'selected':'' }} {{: daycss[i] }} js-cal-option" data-date="{{: thedate.toISOString() }}">
                <div class="date">{{: thedate.getDate() }}</div>
                {{ thedate.setDate(thedate.getDate() + 1);}}
              </td>
              {{ } }}
            </tr>
            {{ } }}
          </tbody>
          {{ } }}
          {{ if (mode ==='day') { }}
          <tbody>
            <tr>
              <td colspan="7">
                <table class="table table-striped table-condensed table-tight-vert" >
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th style="text-align: center; width: 100%">{{: days[date.getDay()] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="timetitle" >All Day</th>
                      <td class="{{: date.toDateCssClass() }}">  </td>
                    </tr>
                    <tr>
                      <th class="timetitle" >Before 6 AM</th>
                      <td class="time-0-0"> </td>
                    </tr>
                    {{for (i = 6; i < 22; i++) { }}
                    <tr>
                      <th class="timetitle" >{{: i <= 12 ? i : i - 12 }} {{: i < 12 ? "AM" : "PM"}}</th>
                      <td class="time-{{: i}}-0"> </td>
                    </tr>
                    <tr>
                      <th class="timetitle" >{{: i <= 12 ? i : i - 12 }}:30 {{: i < 12 ? "AM" : "PM"}}</th>
                      <td class="time-{{: i}}-30"> </td>
                    </tr>
                    {{ } }}
                    <tr>
                      <th class="timetitle" >After 10 PM</th>
                      <td class="time-22-0"> </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
          {{ } }}
        </table>
      </script>



			</div>

		<!-- BackGround -->
			<div id="bg"></div>


    <!-- pass data from node.js to client side js -->
      <article
      id="trainingData"  
      data-content="<%= JSON.stringify(userTrainingPlan) %>"
      style="display: none;">
      </article>
		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
      <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
      <script src="js/calendar.js"></script>


	</body>
</html>



<body>

  






</body>
</html>
